<p class="title">Regisztráció</p>

<div class="reg_form">
    <form action="" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="email" class="form-label">E-mail cím</label>
            <input type="email" class="form-control" id="email" name="email" maxlength="50">
        </div>

        <div class="col-md-6">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text" class="form-control" id="username" name="username" maxlength="30">
        </div>

        <div class="col-12">
            <label for="pass" class="form-label">Jelszó</label>
            <input type="password" class="form-control" id="pass" name="pass" maxlength="30">
        </div>

        <div class="col-12">
            <label for="pass_re" class="form-label">Jelszó újra</label>
            <input type="password" class="form-control" id="pass_re" name="pass_re" maxlength="30">
        </div>

        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Regisztráció">
        </div>
    </form>
</div>